@{
	ViewData["Title"] = "Sussecc";
}

<div class="modal" id="SuccessModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Đặt hàng thành công.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {

			$('#SuccessModal').modal('show');

		});
	</script>
}

