
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-header">
	<h3 class="fw-bold mb-3">Tạp Hóa</h3>
	<ul class="breadcrumbs mb-3">
		<li class="separator">
			<i class="icon-arrow-right"></i>
		</li>
		<li class="nav-item">
			<a href="#">Home</a>
		</li>
		<li class="separator">
			<i class="icon-arrow-right"></i>
		</li>
		<li class="nav-item">
			<a href="#">Quản lý đơn hàng</a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="d-flex align-items-center">
					<h4 class="card-title">Danh mục đơn hàng</h4>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="Tab_DonHang" class="display table table-striped table-hover">
						<thead>
							<tr>
								<th>Mã Đơn Hàng</th>
								<th>Khách Hàng</th>
								<th>Ngày Đặt Hàng</th>
								<th>Địa Chỉ</th>
								<th>Cách Thanh Toán</th>
								<th>Cách Vận Chuyển</th>
								<th>Tổng Tiền</th>
								<th>Trạng Thái</th>
								<th style="width: 10%">Action</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$.ajax({
			url:'/Admin/QuanLyHangHoa/LoadHoaDon',
			type:'GET',
			dataType:'json',
			contentType: 'application/json',
			success: function (obj) {
				$("#Tab_DonHang").Datatable({
					data: obj,
					responsive: true,
					columns: [
						{ data: 'maHd' },
						{ data: 'hoTen' },
						{ data: 'ngayDat' },
						{ data: 'diaChi' },
						{ data: 'cachThanhToan' },
						{ data: 'cachVanChuyen' },
						{ data: 'tongTien' },
						{ data: 'maTrangThai' },
						

					]
				})
			}
		});
	</script>
}


